.css1{
  background-color: #808080;
  border: 5px solid #f00;
  padding: 10px;
}
.css2{
  background-color: #808080;
  border: 5px solid #f00;
  margin: 20px;
}
.css3{
  background-color: #808080;
  border: 5px solid #f00;
  padding: 10px;
  margin: 20px;
}
span{
  color: #f00;
  text-decoration: underline;
}