li{
  font-size: 24px;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}
p{
  font-size: 22px;
  font-weight: bold;
}
span{
  font-size: 22px;
  font-weight: bold;
  color: #f00;
}
strong{
  font-size: 22px;
  font-weight: bold;
  color: #00f;
}
table{
  border: 1px solid  #000;
  border-collapse: collapse;
}
th{
  font-weight: bold;
  text-align: center;
  background-color: #0f0;
  width: 20em;
}
td{
  font-weight: bold;
  text-align: center;
}